@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    SENCKENBERGANLAGE 31 JURIDICUM (5. OG)y<br />
    60325 FRANKFURT AM MAIN<br />
    <abbr title="Phone">TEL:</abbr>
    0049 1577 4085 931
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:INFO@WHINKER.COM">INFO@WHINKER.COM</a><br />
    <strong>Marketing:</strong> <a href="mailto:INFO@WHINKER.COM">INFO@WHINKER.COM</a>
</address>